{% extends 'grille.html' %}
{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='jouer.css') }}"/>
{% endblock %}
{% block main %}
	{{ super() }}
	
	{% block grille %}
		{{ super() }}
	{% endblock %}
	
	<h1>Session['grille']</h1>
		<p>
			{{ session['grille'] }}
		</p>
	<h1>Grille(session['grille'])</h1>
		<p>
			grille:<br>{{ Grille(session['grille']).grille }}<br>
			joueur1: {{ Grille(session['grille']).joueur1 }}<br>
			joueur2: {{ Grille(session['grille']).joueur2 }}<br>
			max_row: {{ Grille(session['grille']).max_row }}<br>
			max_column: {{ Grille(session['grille']).max_column }}<br>
			nbTour: {{ Grille(session['grille']).nbTour }}<br>
			{% autoescape false %}
			self:<br>{{ Grille(session['grille']) }}
			{% endautoescape %}
		</p>
	
	<h1>Puissance4?</h1>
		<p>
		{% if Grille(session['grille']).puissance4()%}
		oui
		{% else %}
		non
		{% endif %}
		</p>
	
	<h1>Remplie?</h1>
		<p>
		{% if Grille(session['grille']).estRemplie()%}
		oui
		{% else %}
		non
		{% endif %}
		</p>
{% endblock %}
{% block js %}
	var curtab = "jouer-tab";
{% endblock %}
